body {
  margin: 0;
  background-color: #B7EDFE;
  font-family: Arial;
  overflow: hidden;
}

.container {
  margin: auto;
  margin-top: 10%;
  text-align: center;
  width: 30%;
  height: 20%;
  padding: 2%;
  border-radius: 1rem;
  background-color: #47AAB4;
}

.header {
  margin: auto;
  margin-top: 2%;
  text-align: center;
  height: 5%;
  width: 80%;
  border-radius: 1rem;
  background-color: #B7EDFE;
}

.title {
  margin-left: 15%;
  margin-top: 0;
  text-align: center;
  padding: 2% 1%;
  height: 2%;
  color: #ffffff;
  background-color: #47AAB4;
}

.error {
  margin: auto;
  margin-top: 2%;
  text-align: center;
  color: red;
}

input {
  margin-top: 5%;
}

button, input[type=submit] {
  margin-top: 5%;
  border-radius: 1rem;
  height: 10%;
  width: 30%;
  transition-duration: 0.4s;
  background-color: #065961;
  color: #ffffff;
}

button:hover, input[type=submit]:hover {
  background-color: #ffffff;
  color: #000000;
  border: 0.15rem solid #065961;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #065961;
  border: 0.25rem solid #000000;
}

li a {
  display: block;
  padding: 4% 8%;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 0.25rem solid #000000;
  transition-duration: 0.4s;
}

li a:hover:not(.active) {
  background-color: #47AAB4;
}

li a.active {
  background-color:#90e3eb;
  color: #000000;
}

.stocks input[type="submit"] {
  margin-left: 25%;
  margin-top: 1%;
  border-radius: 0;
  padding: 0;
  display: inline-block;
  height: 70px;
  width: 20%;
}