<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="static/js/script.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> <!-- plotly.js file to render graphs -->
  <title>{{ details['name'] }}</title>
</head>
<body>
  <h1 class="title">{{ details['name'] }}</h1>
  <div class="sidebar-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/stocks" class="active">Stocks</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/favourites">Favourites</a></li>
    </ul>
  </div>

  <div class="details">
    <h2>Name: {{ details['name'] }}</h2>
    <h2>Industry: {{ details['industry'] }}</h2>
    <h2>CEO: {{ details['ceo'] }}</h2>
    <h2>Year Founded: {{ details['year_founded'] }}</h2>
    <h2># Employees: {{ details['num_employees'] }}</h2>
  </div>

  <form method="POST" action="/forecasts">
    <input type="submit" name="{{ details['mic'] }}" value="Forecast" id="forecasts-button">
  </form>

  <div class="chart" id="chart"></div>

  <button type="button" id="favourites-button" onclick="send_request({{ details['company_id'] }}, {{ userID }})">Add to Favourites</button>
  <h2 id="msg"></h2>

  <script>
    let graphs = {{ graph | safe }};
    Plotly.plot('chart', graphs, {});
  </script>

</body>
</html>