<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>Favourites</title>
</head>
<body>

  <h1 class="title">Favourites</h1>
  <div class="sidebar-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/stocks">Stocks</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/favourites" class="active">Favourites</a></li>
    </ul>
  </div>

  <div class="favourites">
    <form method="POST" action="/stocks">
      {% for favourite in query %}
      <input type="submit" name="{{ favourite }}" value="{{ favourite }}">
      {% endfor %}
    </form>
  </div>

</body>
</html>