<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <form method="POST", action="/login">
        <h1 class="header">Welcome</h1> <!-- for header styling -->
        <input type="text" placeholder="Enter Username" name="username" required>
        <br/>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <br/>
        <button>Login</button>
      </form>
      <form action="/register"> <!-- to add button styling -->
        <input type="submit" value="Create Account" />
      </form>
    </div>
    {% for msg in get_flashed_messages() %}
    <h2>{{ msg }}</h2>
    {% endfor %}
  </body>
</html>`