<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Register</title>
  </head>
  <body>
    <div class="container">
      <form method="POST", action="/register">
        <h1 class="header">Register</h1> <!-- for header styling -->
        <input type="text" placeholder="Enter Username" name="username" required>
        <br/>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <br/>
        <input type="password" placeholder="Confirm Password" name="psw-confirmation" required>
        <br/>
        <form action="/login "> <!-- to add button styling -->
          <input type="submit" value="Register Account" />
        </form>
      </form>
    </div>
    {% for category, msg in get_flashed_messages(with_categories=true) %}
    <h2 class="{{ category }}">{{ msg }}</h2>
    {% endfor %}
  </body>
</html>